<header class="top-header clearfix">
    <!-- Logo -->
    <div class="logo headerpadding">
        <span>
            <img ng-src="{{global.LOGO}}" alt="LOGO" class="img-square img50_50">
        </span>  
            <a style="cursor: pointer">
                <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
                <span>{{main.brand}} </span>
            </a>
            <!--<span>Dispatch Center Name</span>-->
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button toggle-off-canvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min class="toggle-min"><i class="ti-menu"></i></a>
            </li>
        </ul> 
        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown text-normal nav-profile ">
                <a href="javascript:;" dropdown-toggle ng-disabled="disabled">
                    <span data-i18n="Welcome {{constant.DISPLAYNAME}}"></span>
                    <img ng-src="{{constant.PROFILEPATH}}" alt="" class="img-circle img30_30">
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a ui-sref="manageProfile">
                            <i class="ti-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="changePassword">
                            <i class="ti-lock"></i>
                            <span data-i18n="Change Password"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="Logout()" ng-show="sessionService.isLoggedIn" style="cursor: pointer">
                            <i class="ti-export"></i>
                            <span data-i18n="Sign Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
